.habit-container {
  width: 50%;
  height: 50%;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  margin: 5px 5px 5px;
}

.habit-icon {
  background-color: var(--secondary-color);
  display: flex;
  margin-left: auto;
  margin-top: auto;
}

.habit-icon:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.habit-streak {
  color: orange;
  font-size: 1.5rem;
}

.habit-streak svg {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
