.habit-container {
  width: 50%;
  height: 50%;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  margin: 5px 5px 5px;
}

.habit-icon {
  background-color: var(--primary-color);
  display: flex;
  margin-left: auto;
  margin-top: auto;
}
