.habit-container {
  width: 100vh;
  height: 25vh;
  background-color: #1e293b; /* neutral dark slate */
  border: 2px solid var(--secondary-color); /* accent border */
  border-radius: 5px;
  padding: 10px;

  margin: 5px 5px 5px;
}

.habit-icon {
  background-color: var(--secondary-color);
  display: flex;
  margin-left: auto;
  margin-top: auto;
  border-radius: 5px;
}

.habit-icon:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.habit-streak {
  color: orange;
  font-size: 1.5rem;
}

.habit-streak svg {
  animation: pulse 1s infinite;
}

#calendar-emoji {
  font-size: 1.7rem;
  margin-right: 5px;
  display: inline-block !important;
}

.complete-habit-modal,
.complete-habit-close-btn {
  background-color: var(--background-color) !important;
  border: 2px solid var(--primary-color) !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
