.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color) !important;
  color: white !important;
}

.header-container h1 {
  color: var(--primary-color) !important;
}

.navbar-text {
  color: var(--primary-color) !important;
}
