.habits-container {
  background-color: var(--);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
}
